html{
    overflow-y:hidden;
}
body
{
    background-color:red;

}
.nav-item:hover
{
    background-color:gray;
    border-radius: 20px;
}
.nav-item a:hover
{
    color:black;
    font-weight: bold;
    font-size: 25px;
}